#counting {
  padding-left: 3rem;
}
.label-location {
  margin-left: .5em;
  font-size: .6em;
  font-weight: normal;
  color: $gray;
  background: transparent;
}
.presets {
  margin-bottom: 1em;
}
#count-it {
  width: 8rem;
}
