doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Suma: Space Usage Tool
    link(href='css/app.css', rel='stylesheet')
  body
    nav.navbar.navbar-light.navbar-fixed-top.bg-faded
      ul.nav.nav-pills
        li.nav-item
          a.nav-link.btn.btn-warning-outline(href='#')
            i.fa.fa-undo
            |  Undo
            span.hidden-xs-down  last count
        li.nav-item.abandon
          a.nav-link.btn.btn-danger-outline(href='#')
            i.fa.fa-ban
            |  Abandon
            span.hidden-xs-down  counts
        li.nav-item.pull-right
          a.nav-link.btn.btn-success-outline(href='#')
            i.fa.fa-check
            |  Finish
            span.hidden-xs-down  collecting
    .container-fluid
      .row.offcanvas
        #counting.col-xs-12
          h3#current-loc-label Space Usage
            span.label.label-default.label-location Mann Library &gt; 2nd Floor
          .presets.btn-group(role='group', aria-label='presets')
            button.btn.btn-secondary(type='button') 2-4 people, grp table, studying, laptop
            button.btn.btn-secondary(type='button') indiv, grp table, studying, laptop
            button.btn.btn-secondary(type='button') indiv, soft seating, indiv table, laptop
          form#count-form.row
            #activity-groups
              fieldset.form-group.activity-group.col-xs-12.col-sm-6
                h5.activity-group-label Participants
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check1', role='button')
                    input#check1(type='checkbox', autocomplete='off')
                    | 1 person
                  label.btn.btn-secondary(for='check4', role='button')
                    input#check4(type='checkbox', autocomplete='off')
                    | 2-4 people
                  label.btn.btn-secondary(for='check2', role='button')
                    input#check2(type='checkbox', autocomplete='off')
                    | 5-7 people
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check5', role='button')
                    input#check5(type='checkbox', autocomplete='off')
                    | 8-10 people
                  label.btn.btn-secondary(for='check3', role='button')
                    input#check3(type='checkbox', autocomplete='off')
                    | 10+ people
                  label.btn.btn-secondary(for='check6', role='button')
                    input#check6(type='checkbox', autocomplete='off')
                    | 0 (No one is present)
              fieldset.form-group.activity-group.col-xs-12.col-sm-6
                h5.activity-group-label Activity
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check7', role='button')
                    input#check7(type='checkbox', autocomplete='off')
                    | Studying/reading
                  label.btn.btn-secondary(for='check8', role='button')
                    input#check8(type='checkbox', autocomplete='off')
                    | Socializing
                  label.btn.btn-secondary(for='check9', role='button')
                    input#check9(type='checkbox', autocomplete='off')
                    | NA - no activity
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check10', role='button')
                    input#check10(type='checkbox', autocomplete='off')
                    | Sleeping
                  label.btn.btn-secondary(for='check11', role='button')
                    input#check11(type='checkbox', autocomplete='off')
                    | Chilling (not sleeping)
              .clearfix
              fieldset.form-group.activity-group.col-xs-12.col-sm-6
                h5.activity-group-label Furniture Usage
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check12', role='button')
                    input#check12(type='checkbox', autocomplete='off')
                    | Study Carrel/Pod
                  label.btn.btn-secondary(for='check13', role='button')
                    input#check13(type='checkbox', autocomplete='off')
                    | Group Table (2+)
                  label.btn.btn-secondary(for='check14', role='button')
                    input#check14(type='checkbox', autocomplete='off')
                    | Table Counter Height
                  label.btn.btn-secondary(for='check15', role='button')
                    input#check15(type='checkbox', autocomplete='off')
                    | Soft Seating (Couches / Soft Chairs / Ottomans)
                  label.btn.btn-secondary(for='check16', role='button')
                    input#check16(type='checkbox', autocomplete='off')
                    | Fixed LCD
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check17', role='button')
                    input#check17(type='checkbox', autocomplete='off')
                    | Indiv Table (1 Only)
                  label.btn.btn-secondary(for='check18', role='button')
                    input#check18(type='checkbox', autocomplete='off')
                    | Booth
                  label.btn.btn-secondary(for='check19', role='button')
                    input#check19(type='checkbox', autocomplete='off')
                    | Laptop Table
                  label.btn.btn-secondary(for='check20', role='button')
                    input#check20(type='checkbox', autocomplete='off')
                    | Bean Bags
                  label.btn.btn-secondary(for='check21', role='button')
                    input#check21(type='checkbox', autocomplete='off')
                    | Whiteboards
                  label.btn.btn-secondary(for='check22', role='button')
                    input#check22(type='checkbox', autocomplete='off')
                    | Mobile LCD
                  label.btn.btn-secondary(for='check23', role='button')
                    input#check23(type='checkbox', autocomplete='off')
                    | N/A - no furniture
              fieldset.form-group.activity-group.col-xs-12.col-sm-6
                h5.activity-group-label Computer Usage
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check24', role='button')
                    input#check24(type='checkbox', autocomplete='off')
                    | Built in Computer
                  label.btn.btn-secondary(for='check25', role='button')
                    input#check25(type='checkbox', autocomplete='off')
                    | Tablet
                .btn-group-vertical.col-xs-6(data-toggle="buttons")
                  label.btn.btn-secondary(for='check26', role='button')
                    input#check26(type='checkbox', autocomplete='off')
                    | Laptop
                  label.btn.btn-secondary(for='check27', role='button')
                    input#check27(type='checkbox', autocomplete='off')
                    | NA - no computer
        #sidemenu.col-xs-6.col-sm-3.sidemenu-offcanvas.bg-faded
          button(data-toggle='offcanvas').btn.btn-secondary-outline.btn-sm.toggle-sidemenu.pull-right
            i#slider.fa.fa-angle-double-right
            span.sr-only toggle
          h5.initiative-select Select an initiative
          form#init-form
            select#init-selector
              option(value='') --
              option.initOpt(value='FOD') FOD
              option.initOpt(value='Space Usage' selected) Space Usage
          h5#loc-header(style='display: block;') And a location:
          #loc-lists
            h6 Mann Library
            ul.loc-list
              li.loc-item
                a#loc-1(href='#')
                  | Basement
                  span.locCount
              li.loc-item
                a#loc-2(href='#')
                  | 1st Floor
                  span.locCount
              li.loc-item
                a#loc-3(href='#')
                  | 2nd Floor
                  span.locCount
              li.loc-item
                a#loc-4(href='#')
                  | 3rd Floor
                  span.locCount
          .close-canvas
      nav.footer.navbar.navbar-light.navbar-fixed-bottom.bg-faded
        #count-it.input-group.pull-right
          input#count-input.form-control(type='number', name='count-input', value='1', min='1', pattern="[0-9]*")
          span.input-group-btn
            button#goes-up.btn.btn-primary-outline(type='button', name='goesup', value='Count') Count
    script(src='js/app.js')
    script(src='js/vendor.js')
